@model List<string>
@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <button class="btn btn-info mt-2" onclick="addRecord()">New Category</button>
</div>
<div hidden id="sendData" class="input-group input-group-sm m-3">
    <div class="w-100 d-flex justify-content-end">
        <button class="btn btn-close" onclick="exit()"></button>
    </div>
    <div class="row w-100 m-2">
        <div class="col-6">
            <span class="input-group-text" id="inputGroup-sizing-sm">Name *</span>
            <input id="name" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="col-6">
            <span class="input-group-text" id="inputGroup-sizing-sm">Descrition *</span>
            <input id="description" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
    </div>
    <div class="w-100 d-flex justify-content-end">
        <button class="btn btn-primary m-2" id="add-btn" onclick="add()">Add</button>
        <button class="btn btn-primary m-2" id="edit-btn" onclick="edit()">Edit</button>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">#</th>
        </tr>
    </thead>
    <tbody id="tbody">
    </tbody>
</table>
<script src="~/lib/jquery/jquery.min.js"></script>
<script defer src="~/js/category.js"></script>

