@{
    ViewData["Title"] = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <button class="btn btn-info mt-2" onclick="addRecord()">New Order</button>
</div>
<div hidden id="sendData" class="input-group input-group-sm m-3">
    <div class="w-100 d-flex justify-content-end">
        <button class="btn btn-close" onclick="exit()"></button>
    </div>
    <div class="row w-100 d-flex justify-content-center m-2">
        <div class="col-6">
            <span class="input-group-text" id="inputGroup-sizing-sm">Customer Id</span>
            <input id="customer-id" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="col-6">
            <span class="input-group-text" id="inputGroup-sizing-sm">Employee Id</span>
            <input id="employee-id" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>

        <hr class="mt-3" />

        <div class="col-4">
            <span class="input-group-text" id="inputGroup-sizing-sm">Order Date</span>
            <input id="order-date" type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="col-4">
            <span class="input-group-text" id="inputGroup-sizing-sm">Required Date</span>
            <input id="required-date" type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="col-4">
            <span class="input-group-text" id="inputGroup-sizing-sm">Shipped Date</span>
            <input id="shipped-date" type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>

        <hr class="mt-3" />

        <div class="col-4">
            <span class="input-group-text" id="inputGroup-sizing-sm">Ship Via</span>
            <input id="ship-via" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="col-4">
            <span class="input-group-text" id="inputGroup-sizing-sm">Freight</span>
            <input id="freight" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="col-4">
            <span class="input-group-text" id="inputGroup-sizing-sm">Ship Name</span>
            <input id="ship-name" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>

        <div class="col-6 mt-1">
            <span class="input-group-text" id="inputGroup-sizing-sm">Street</span>
            <input id="street" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="col-6 mt-1">
            <span class="input-group-text" id="inputGroup-sizing-sm">Region</span>
            <input id="region" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="col-6 mt-1">
            <span class="input-group-text" id="inputGroup-sizing-sm">City</span>
            <input id="city" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="col-6 mt-1">
            <span class="input-group-text" id="inputGroup-sizing-sm">Country</span>
            <input id="country" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="col-6 mt-1">
            <span class="input-group-text" id="inputGroup-sizing-sm">Postal Code</span>
            <input id="postal-code" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>

        <hr class="mt-3" />

        <div class="col-6 mt-1">
            <span class="input-group-text" id="inputGroup-sizing-sm">Product Id</span>
            <input id="postal-code" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="col-6 mt-1">
            <span class="input-group-text" id="inputGroup-sizing-sm">Unit Price</span>
            <input id="postal-code" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="col-6 mt-1">
            <span class="input-group-text" id="inputGroup-sizing-sm">Quantity</span>
            <input id="postal-code" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="col-6 mt-1">
            <span class="input-group-text" id="inputGroup-sizing-sm">Discount</span>
            <input id="postal-code" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
    </div>
    <div class="w-100 d-flex justify-content-end">
        <button class="btn btn-primary m-2" id="add-btn" onclick="add()">Add</button>
        <button class="btn btn-primary m-2" id="edit-btn" onclick="edit()">Edit</button>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Customer Id</th>
            <th scope="col">Employee Id</th>
            <th scope="col">Order Date</th>
            <th scope="col">Required Date</th>
            <th scope="col">Shipped Date</th>
            <th scope="col">Ship Via</th>
            <th scope="col">Freight</th>
            <th scope="col">Ship Name</th>
            <th scope="col">Ship Address</th>
            <th scope="col">#</th>
        </tr>
    </thead>
    <tbody id="tbody">
    </tbody>
</table>

<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/js/order.js"></script>