@{
    ViewData["Title"] = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <button class="btn btn-info mt-2" onclick="addRecord()">New Order</button>
</div>
<div hidden id="sendData" class="input-group input-group-sm m-3">
    <div class="w-100 d-flex justify-content-end">
        <button class="btn btn-close" onclick="exit()"></button>
    </div>
    <div class="row w-100 d-flex justify-content-center m-2">
        <div class="col-6">
            <span class="input-group-text" id="inputGroup-sizing-sm">Customer Id</span>
            <input id="customer-id" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="col-6">
            <span class="input-group-text" id="inputGroup-sizing-sm">Employee Id</span>
            <input id="employee-id" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>

        <hr class="mt-3" />

        <div class="col-4">
            <span class="input-group-text" id="inputGroup-sizing-sm">Order Date</span>
            <input id="order-date" type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="col-4">
            <span class="input-group-text" id="inputGroup-sizing-sm">Required Date</span>
            <input id="required-date" type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="col-4">
            <span class="input-group-text" id="inputGroup-sizing-sm">Shipped Date</span>
            <input id="shipped-date" type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>

        <hr class="mt-3" />

        <div class="col-4">
            <span class="input-group-text" id="inputGroup-sizing-sm">Ship Via</span>
            <input id="ship-via" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="col-4">
            <span class="input-group-text" id="inputGroup-sizing-sm">Freight</span>
            <input id="freight" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="col-4">
            <span class="input-group-text" id="inputGroup-sizing-sm">Ship Name</span>
            <input id="ship-name" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>

        <div class="col-6 mt-1">
            <span class="input-group-text" id="inputGroup-sizing-sm">Street</span>
            <input id="street" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="col-6 mt-1">
            <span class="input-group-text" id="inputGroup-sizing-sm">Region</span>
            <input id="region" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="col-6 mt-1">
            <span class="input-group-text" id="inputGroup-sizing-sm">City</span>
            <input id="city" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="col-6 mt-1">
            <span class="input-group-text" id="inputGroup-sizing-sm">Country</span>
            <input id="country" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="col-6 mt-1">
            <span class="input-group-text" id="inputGroup-sizing-sm">Postal Code</span>
            <input id="postal-code" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>

        <hr class="mt-3" />

        <div class="col-6 mt-1">
            <span class="input-group-text" id="inputGroup-sizing-sm">Product Id</span>
            <input id="postal-code" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="col-6 mt-1">
            <span class="input-group-text" id="inputGroup-sizing-sm">Unit Price</span>
            <input id="postal-code" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="col-6 mt-1">
            <span class="input-group-text" id="inputGroup-sizing-sm">Quantity</span>
            <input id="postal-code" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="col-6 mt-1">
            <span class="input-group-text" id="inputGroup-sizing-sm">Discount</span>
            <input id="postal-code" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Product Id</th>
                    <th scope="col">Unit Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Discount</th>
                    <th scope="col">#</th>
                </tr>
            </thead>
            <tbody id="t-product-body">
            </tbody>
        </table>
    </div>
    <div class="w-100 d-flex justify-content-end">
        <button class="btn btn-primary m-2" id="add-btn" onclick="add()">Add</button>
        <button class="btn btn-primary m-2" id="edit-btn" onclick="edit()">Edit</button>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Customer Id</th>
            <th scope="col">Employee Id</th>
            <th scope="col">Order Date</th>
            <th scope="col">Required Date</th>
            <th scope="col">Shipped Date</th>
            <th scope="col">Ship Via</th>
            <th scope="col">Freight</th>
            <th scope="col">Ship Name</th>
            <th scope="col">Ship Address</th>
            <th scope="col">#</th>
        </tr>
    </thead>
    <tbody id="tbody">
    </tbody>
</table>

<script src="~/lib/jquery/jquery.min.js"></script>

<script>
    let responseData = [];
    let editingData = {};
    let productList = [];

    $(document).ready(() => {
        getData();
    });
    function createTable(response) {
        let trElement = "";
        let array = [...response];
        console.log(array);
        array.map(item => {
            let orderDate = item.orderDate;
            let requiredDate = item.requiredDate;
            let shippedDate = item.shippedDate;
            orderDate = orderDate.substring(0, 10);
            requiredDate = requiredDate.substring(0, 10);
            shippedDate = shippedDate.substring(0, 10);
            trElement += `<tr id="${item.id}">
                    <td>${item.customerId}</td>
                    <td>${item.employeeId}</td>
                    <td>${orderDate}</td>
                    <td>${requiredDate}</td>
                    <td>${shippedDate}</td>
                    <td>${item.shipVia}</td>
                    <td>${item.freight}</td>
                    <td>${item.shipName}</td>
                    <td></td>
                    <td></td>
                    <td>
                     <button id="${item.id}-edit" class="btn btn-success btn-sm w-100" onclick="editRecord('${item.id}')"><a href="#sendData" class="link">Edit</a></button>
                     <button id="${item.id}-delete" class="btn btn-danger btn-sm w-100" onclick="edit(${item.id})">Delete</button>
                    </td>
                  </tr>`
        })

        document.getElementById("tbody").innerHTML = trElement;
    }
    function getData() {
        $.ajax({
            url: `http://localhost:61643/api/order`,
            method: "get",
            dataType: "json",
            success: (result) => {
                createTable(result);
                responseData = [...result];

            }
        });
    }

    function openSendData(type) {
        $("#sendData").removeAttr("hidden");
        $("#sendData").show();
        switch (type) {
            case "edit":
                $("#add-btn").hide();
                break;
            case "add":
                $("#edit-btn").hide();
                break;
            default:
        }
    }

    function addRecord() {
        openSendData("add");
    }

    function editRecord(id) {
        editingData = responseData.filter(p => p.id == id)[0];
        productList = [...editingData.details];
        openSendData("edit");

        $("#customer-id").val(editingData.customerId);
        $("#employee-id").val(editingData.employeeId);
        $("#order-date").val(editingData.orderDate);
        $("#required-date").val(editingData.requiredDate);
        $("#shipped-date").val(editingData.shippedDate);
        $("#ship-via").val(editingData.shipVia);
        $("#freight").val(editingData.freight);
        $("#ship-name").val(editingData.shipName);

        $("#street").val(editingData.shipAddress.street);
        $("#region").val(editingData.shipAddress.region);
        $("#city").val(editingData.shipAddress.city);
        $("#country").val(editingData.shipAddress.country);
        $("#postal-code").val(editingData.shipAddress.postalCode);

        createProductTable(productList);
    }

    function deleteRecordProduct(id) {
        let index = productList.findIndex(p => p.id === id)
        productList.splice(index, 1);
        createProductTable(productList);
    }

    function createProductTable(productArray) {
        let trProductElement = "";
        console.log(productArray);
        productArray.map(item => {
            trProductElement += `<tr id="${item.productId}">
                    <td>${item.productId}</td>
                    <td>${item.unitPrice}</td>
                    <td>${item.quantity}</td>
                    <td>${item.discount}</td>
                    
                    <td>
                     <button id="${item.productId}-delete" class="btn btn-danger btn-sm w-100" onclick="deleteRecordProduct('${item.productId}')">Delete</button>
                    </td>
                  </tr>`
        })
        console.log(trProductElement);
        document.getElementById("t-product-body").innerHTML = trProductElement;
    }

    function edit() {
        let customerId = $("#company-name").val();
        let employeeId = $("#contact-name").val();
        let orderDate = $("#contact-Title").val();
        let requireDate = $("#phone").val();
        let shippedDate = $("#street").val();
        let shipVia = $("#region").val();
        let freight = $("#city").val();
        let shipName = $("#country").val();

        let street = $("#street").val();
        let region = $("#region").val();
        let city = $("#city").val();
        let country = $("#country").val();
        let postalCode = $("#postal-code").val();



        $.ajax({
            url: `http://localhost:61643/api/order`,
            method: "put",
            data: {
                "id": editingData.id,
                "customerId": customerId,
                "employeeId": employeeId,
                "orderDate": orderDate,
                "requireDate": requireDate,
                "shippedDate": shippedDate,
                "shipVia": shipVia,
                "freight": freight,
                "shipName": shipName,
                "address": {
                    "street": street,
                    "region": region,
                    "city": city,
                    "country": country,
                    "postalCode": postalCode
                },
                "details": productList

            },
            success: (res) => {
                $("#sendData").hide();
                getData();
            },

            error: (err) => {
                $("#errorName").html("Can't edit");
                console.log(err.statusCode());
            },
            dataType: "json"
        })

    }

    function add() {
        productList = [];
        let customerId = $("#company-name").val();
        let employeeId = $("#contact-name").val();
        let orderDate = $("#contact-Title").val();
        let requireDate = $("#phone").val();
        let shippedDate = $("#street").val();
        let shipVia = $("#region").val();
        let freight = $("#city").val();
        let shipName = $("#country").val();

        let street = $("#street").val();
        let region = $("#region").val();
        let city = $("#city").val();
        let country = $("#country").val();
        let postalCode = $("#postal-code").val();

        $.ajax({
            url: `http://localhost:61643/api/order`,
            method: "post",
            data: {
                "customerId": customerId,
                "employeeId": employeeId,
                "orderDate": orderDate,
                "requireDate": requireDate,
                "shippedDate": shippedDate,
                "shipVia": shipVia,
                "freight": freight,
                "shipName": shipName,
                "address": {
                    "street": street,
                    "region": region,
                    "city": city,
                    "country": country,
                    "postalCode": postalCode
                },
                "details": productList

            },
            success: (res) => {
                $("#sendData").hide();
                getData();
            },

            error: (err) => {
                $("#errorName").html("Can't record");
                console.log(err.statusCode());
            },
            dataType: "json"
        })

    }

    function exit() {
        $("#sendData").hide();

        $("#customerId").val("");
        $("#employeeId").val("");
        $("#orderDate").val("");
        $("#requireDate").val("");
        $("#shippedDate").val("");
        $("#shipVia").val("");
        $("#freight").val("");
        $("#shipName").val("");

        $("#street").val("");
        $("#region").val("");
        $("#city").val("");
        $("#country").val("");
        $("#postal-code").val("");
        
        $("#add-btn").show();
        $("#edit-btn").show();
    }

    function deleteRecord(id) {
        console.log(id);
        $.ajax({
            url: `http://localhost:61643/api/customer/?id=${id}`,

            method: "delete",
            success: (res) => {
                $(`#${id}`).remove();
            }
        })
    }


</script>
